@CHARSET "UTF-8";
#volumeStemFlowAndSelect input[type="text"], #volumeStemFlowAndSelect select {
	width:100%;
}
#volumeStemFlowAndSelect tr{
	padding: 5px 0;
}
.off *{
	background-color:#EEE;
}

#steamWaterProps input[type="text"] {
	width:100%;
}
#steamWaterProps .row {
	min-height: 32px;
} 
.input-dropdown ul > li.active {
	background-color: #DDD;
}
.input-dropdown ul{
	top:36px;
}
.input-dropdown {
	display:block;	
}

.abs-left{
	
	position:absolute;
	left: -24px;
	font-size:24px;
}

.ng-invalid{
	border-color:red;
}
select.btn{
	padding:6px 0;
}
.main{
	min-width:487px;
}
.glyphicon{
	margin-right:7px;
}
#graph{
	position:absolute;
	top:0;
	
	z-index:10;
}