<!doctype html>
<html lang="en" ng-app="emis-calc">
<head >
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel='stylesheet' href='bower_components/angular-input-dropdown/inputDropdownStyles.css' />	
<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="emisCalcCntr" ng-cloak>


<span class="icon-bar"></span>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">        
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://emis-kip.ru"><img src="logo.png" alt="ЭМИС" width="120" height="30" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav">
			<li ng-repeat="oTab in tabs" ng-class="getClass('/{{oTab.id}}')">
				<a href="#/{{oTab.id}}" aria-controls="{{oTab.id}}">	{{oTab.name}}</a>
			</li>
		</ul>

      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






	<div class="container-fluid main">
		<div class="row" ng-show="tabs.error">
			<h2>Что-то пошло не так</h2>
			<p>В процессе загрузки приложения возникли ошибки
				{{tabs.error.message}}</p>
			<div class="col-xs-12 alert alert-danger">
				<a class="alert-link" href="/">Попробывать еще раз</a>
			</div>
		</div>		
		<div class="row"> <ng-view></ng-view></div>				
								
	</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/highcharts/highcharts.js"></script>
<script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
<script src="bower_components/angular-input-dropdown/inputDropdown.js"></script>

<script src="js/app.js"></script>
<script src="js/directives.js"></script>
<script src="js/services/ServerService.js"></script>
<script src="js/services/ev200ConstService.js"></script>
<script src="js/controllers/controllers.js"></script>
<script src="js/controllers/flowVelocity.js"></script>
<script src="js/controllers/measurmentUnits.js"></script>
<script src="js/controllers/volumeStemFlowAndSelect.js"></script>
<script src="js/controllers/freqFlowCntr.js"></script>
<script src="js/controllers/steamWaterProps.js"></script>
<script src="js/controllers/flowRUNU.js"></script>
<script src="js/controllers/pressureLoses.js"></script>
<script src="js/controllers/calcEV205.js"></script>
<script src="js/controllers/flowsEV200205.js"></script>
<script src="js/controllers/pipePressure.js"></script>
<script src="js/controllers/reinolds.js"></script>
<script src="js/controllers/flowRange.js"></script>


</body>
</html>
