<div ng-controller="calcEV205Cntr" class="container-fluid">
	<div class="row">
		<h3 class="col-sm-12 col-md-6"> </h3>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group ">
				<span class="input-group-addon">Точка измерения</span>
				<select name="" ng-model="point" ng-change="changePoint()" class="form-control">
					<option value="0">Центр трубы</option>
					<option value="1">Точка средних скоростей</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group col-sm-12">
				<span class="input-group-addon">Коэфф. Кп</span>
				<input type="text" ng-model="Kn" ng-change="calcFactQ()" class="form-control"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group ">
				<span class="input-group-addon">ДУ трубопровода D</span>
				<input type="text" ng-model="du" ng-change="calcFactQ()" class="form-control" />
				<span class="input-group-addon">мм</span>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon" >Коэфф. Кз</span>
				<input type="text" ng-model="Kz" ng-change="calcFactQ()" class="form-control"/>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Коэфф. Kv</span>
				<input type="text" ng-model="Kv" ng-change="calcFactQ()" class="form-control"/>			
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Коэфф. S</span>
				<input type="text" class="off form-control" readonly ng-model="S" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Расход датчика Q</span>
				<input type="text" ng-model="Q" ng-change="calcFactQ()" class="form-control"/>
				<div class="input-group-btn">
					<select ng-model="QMU" name="QMU"  class="btn btn-default dropdown-toggle">
						<option ng-repeat="(uName, unit) in measurmentUnits['volFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Расход факт. Qф</span>
				<input type="text" ng-model="Qfact" ng-change="calcFactQ()" class="form-control"/>
				<span class="input-group-addon">{{QMU}}</span>
			</div>
		</div>
	</div>			
</div>