<div ng-controller="flowRUNUCntr" class="container-fluid">
	
	<div class="row">
		<div class="col-sm-6"><input-mu label="Изб.давление P" ng-model="overP" type-mu="pressure" ></input-mu></div>
		<div class="col-sm-6"><input-mu ng-model="G" label="Массовый расход G" ></input-mu></div>
	</div>
	<div class="row">
		<div class="col-sm-6"><input-mu ng-model="temperature" label="Температура" type-mu="temperature"></input-mu></div>
		<div class="col-sm-3"><button class="btn btn-default" ng-click="standartToCurrent()">{{butTopName}}</button></div>
		<div class="col-sm-3"><button class="btn btn-default" ng-click="currentTermsToStandart()">{{butBotName}}</button></div>
	</div>
	<div class="row">
		<div class="col-sm-6"><input-mu ng-model="airP" type-mu="pressure" label="Атмосферное давление"></input-mu></div>
		<div class="col-sm-6"><input type="radio" name="terms" ng-model="terms" ng-change="changeNames()" value="normal"/> Нормальные: То=0  &deg;С</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><input-mu label="Коэффициент сжимаемости" ng-model="kC"></input-mu></div>
		<div class="col-sm-6"><input type="radio" name="terms" ng-model="terms" value="standart" ng-change="changeNames()" /> Стандартные: То=20  &deg;С</div>
	</div>
	<div class="row">
		<div class="col-sm-6"><input-mu label="{{flowName}}" mu="нм3/ч" ng-model="Qct"></div>
		<div class="col-sm-6"><input-mu label="{{rhoStName}}" mu="кг/м3" ng-model="rhoSt"> </input-mu></div>
	</div>
	<div class="row">
		<div class="col-sm-6"><input-mu label="Расход в Р.У. Qp" ng-model="Qr" type-mu="volFlow"></input-mu></div>
		<div class="col-sm-6"><input-mu label="Плотность Р.У." mu="кг/м3" ng-model="rho"></div>
	</div>
	<yu-table></yu-table>
</div>