<div ng-controller="flowRangeCntr" class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Среда</span>
				<select ng-model="medium" class="form-control" ng-change="mediumChange()" >
					<option value="0">Воздух</option>
					<option value="1">Пар</option>
					<option value="2">Другая</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Плотность при Ст.У. </span><input type="text" class="form-control" ng-model="rho0" /><span class="input-group-addon">кг/м3</span>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group"><span class="input-group-addon">Диаметр d</span>
				<select class="form-control" ng-model="du" ng-change="calcAirSteamFlowRange()">
					<option ng-repeat="(duKey,duItem) in duArray" value="{{duKey}}">{{duItem}}</option>
				</select>
			</div>			
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Исполнение по давл.</span>
				<select name="" ng-model="variantPress" class="form-control" ng-change="calcAirSteamFlowRange()">
					<option value="0"> С, Ф, ФР до 2.5 МПА</option>
					<option value="1">С, Ф, ФР, 4-6.3 МПА</option>
					<option value="2">16-25 МПа</option>
					<option value="3">С1, Ф1, ФР1 до 6.3 МПа</option>
				</select>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-sm-6"><input-mu label="Температура" type-mu="temperature" ng-model="temperature" is-readonly="(medium == '1') && (isSaturedSteam)"></input-mu></div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Исполнение по темп.</span>
				<select name="" ng-model="variantTemp"   class="form-control" ng-change="calcAirSteamFlowRange()">
					<option value="0"> +100 C</option>
					<option value="1">+100 C расшир. диапазон</option>
					<option value="2">+250 С, +320 С</option>
					<option value="3">+460 С</option>
				</select>
			</div>
		</div>		
	</div>
		<div class="row">
		<div class="col-sm-6"><input-mu label="Изб. давление" type-mu="pressure" ng-model="pressure"></input-mu></div>
		<div class="col-sm-3"> <div class="input-group" ng-hide="medium != '1'"><input type="checkbox" ng-model="isSaturedSteam" ng-change="calcAirSteamFlowRange()"/> Насыщенный пар</div></div>
		<div class="col-sm-3"> <button  class="btn btn-default" ng-click="fillTableAllDUs('du')">Таблица по ДУ</button></div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Плотность в Р.У. </span><input type="text" class="form-control"  ng-model="rho" readonly /><span class="input-group-addon">кг/м3</span>
			</div>
		</div>
		<div class="col-sm-3">
			<input type="checkbox" ng-model="isGraph" ng-change="createGraph()"/> График
		</div>
		<div class="col-sm-3"> <button  class="btn btn-default" ng-click="fillTableAllDUs('pressure')">Таблица по давл.</button></div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group input-group-inline">
				<span class="input-group-addon">Мин. расход Qmin</span><input type="text" class="form-control"  ng-model="qmin" readonly /><span class="input-group-addon">м3/ч</span>
			</div>		
		</div>		
		<div class="col-sm-3">
			<div class="input-group input-group-inline">
				<span class="abs-left"> = </span><input type="text" class="form-control"  ng-model="qminMass" readonly /><span class="input-group-addon">кг/ч</span>
			</div>
		</div>
		<div class="col-sm-3"> <button  class="btn btn-default" ng-click="calcAirSteamFlowRange()">Расчет</button></div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group input-group-inline">
				<span class="input-group-addon">Макс. расход Qmax</span><input type="text" class="form-control"  ng-model="qmax" readonly /><span class="input-group-addon">м3/ч</span>
			</div>					
		</div>		
		<div class="col-sm-3">
			<div class="input-group input-group-inline">
				<span class="abs-left"> = </span><input type="text" class="form-control"  ng-model="qmaxMass" readonly /><span class="input-group-addon">кг/ч</span>
			</div>
		</div>
		<div class="col-sm-3"><button  class="btn btn-default" ng-click="addRow()">Добавить</button></div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<yu-table ></yu-table>
			<div ng-hide="!isGraph" id="graph">
				<highchart id="chart1" config="chartConfig"></highchart>
			</div>
		</div>
		
	</div>
	
</div>