<div ng-controller="flowVelocity" class="container-fluid">
	<h4>{{oTab.name}}</h4>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon">Диаметр d=</span>
				<input type="text" class="form-control" ng-model="diameter" ng-change="changeDiameter()" ng-pattern="/\d+$/" />
				<span class="input-group-addon">мм.</span>			
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon">Плотность &Rho;=</span>
				<input type="text" class="form-control" ng-model="density" ng-change="changeDensity()" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-btn">
					<select ng-model="densityUI" name="densityUI"  class="btn btn-default dropdown-toggle" ng-change="changeDensity()">
						<option ng-repeat="(uName, unit) in measurmentUnits['density']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon"> Массовый расход Qm = </span>
				<input type="text" class="form-control" ng-model="massFlow" ng-change="changeMassFlow()" ng-value="massFlow" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-btn">
					<select name="flowMassMU" ng-model="massFlowMU" class="btn btn-default dropdown-toggle" ng-change="changeMassFlow()">
						<option ng-repeat="(uName, unit) in measurmentUnits['massFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon">Объемный расход Qv =</span>
				<input type="text" class="form-control" ng-model="volFlow" ng-change="changeVolFlow()" ng-value="volFlow" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-btn">
				<select name="" id="" ng-model="volFlowMU" class="btn btn-default dropdown-toggle" ng-change="changeVolFlow()">
					<option ng-repeat="(uName, unit) in measurmentUnits['volFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
				</select></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon"> Скорость v = </span>
				<input type="text" class="form-control" ng-model="velocity" ng-change="changeVelocity()" ng-value="velocity" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>	
				<span class="input-group-addon">м/c</span>				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon">Площадь S = </span>
				<input type="text" class="form-control" ng-model="square" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/" />
				<span class="input-group-addon">мм2.</span>			
			</div>
		</div>
		<div class="col-sm-2"><button class="btn btn-default" ng-click="addRow()"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs">Добавить</span></button></div>
	</div>
	<yu-table></yu-table>
</div>