<div ng-controller="flowEV200205Cntr" class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Тип прибора</span>
				<select name="" ng-model="typeDev" ng-change="typeDevChange()" class="form-control">
					<option value="0">ЭВ-200</option>
					<option value="1">ЭВ-205</option>
					<option value="2">ЭВ-200 ППД</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Измеряемая среда</span>
				<select name="" ng-model="medium" class="form-control">
					<option ng-repeat="(value,caption) in mediumArray" value="{{value}}">{{caption}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Исполнение</span>
				<select name="" ng-model="variant.value" ng-disabled="variant.isReadonly" ng-change="variantChange()"  class="form-control">
					<option value="0"> С, Ф, ФР до 2.5 МПА</option>
					<option value="1">С, Ф, ФР, 4-6.3 МПА</option>
					<option value="2">16-25 МПа</option>
					<option value="3">С1, Ф1, ФР1 до 6.3 МПа</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Макс. температура</span>
				<select name="" ng-model="maxTemp" ng-change="calcTable()"  class="form-control">
					<option ng-repeat="(value,caption) in tempArray" value="{{value}}">{{caption}}</option>
				</select>
			</div>
		</div>
	</div>;
	<yu-table></yu-table>
</div>