<div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Диаметр Ду</span>
				<select ng-model="diameter" name="diameter" class="form-control" ng-change="changeDiameter()" ng-pattern="/\d+/">
					<option ng-repeat="(key,item) in diametersArr" value="{{key}}"> {{item}}</option>
				</select>
			</div>
			
		</div>
		<div class="col-sm-6"><button class="btn btn-default" ng-click="addRow()">Добавить</button></div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Среда</span>
				<select name="medium" ng-model="medium" class="form-control">
					<option value="0">Жидкость</option>
					<option value="1">Газ</option>
				</select>
			
			</div>
		</div>
		<div class="col-sm-6"><button class="btn btn-default" ng-click="allDUBtnClick()">Таблица всех ДУ</button></div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">К-фактор Кф</span>			
				<input type="text" class="form-control" ng-model="kf" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-btn">
					<select ng-model="kfUI" name="kfUI"  class="btn btn-default dropdown-toggle">
						<option value="л/имп">л/имп</option>
						<option value="имп/м3">имп/м3</option>
					</select>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Макс. частота Fmax</span>			
				<input type="text" readonly class="form-control" ng-model="fMax" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/><span class="input-group-addon">Гц.</span>		
			</div>
			
		</div>
		
		<div class="col-sm-4">
			<div class="input-group off">
				<span class="input-group-addon">Время реакции</span>
				<input type="text" readonly class="form-control" ng-model="time" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/><span class="input-group-addon">с.</span>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Частота вихрей F</span>			
				<input type="text" class="form-control" ng-model="freq" ng-change="changeFreq()" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/><span class="input-group-addon">Гц.</span>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Расход Q</span>			
				<input ng-model="Q" type="text" class="form-control" ng-change="changeFlow()" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/" /><span class="input-group-addon">м3/ч</span>
			</div>
		</div>		
	</div>
	<yu-table></yu-table>
</div>