<div ng-controller="measurmentUnits">
	<div class="row">
		<h3 class="col-sm-12 col-md-6"> </h3>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<select ng-model="unitsType" class="center-block" ng-change="changeType()">
				<option ng-repeat="(name, mUnit) in measurmentUnits" value="{{name}}">{{mUnit.name}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="muFrom" ng-change="calcMeas()"  ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-btn">
					<select ng-model="muFromUnit" class="btn btn-default dropdown-toggle" ng-change="calcMeas()">
						<option ng-repeat="(uName, unit) in measurmentUnits[unitsType]['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>					
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="muTo" readonly />
				<div class="input-group-btn">
					<select ng-model="muToUnit" class="btn btn-default dropdown-toggle" ng-change="calcMeas()">
						<option ng-repeat="(uToName, unit) in measurmentUnits[unitsType]['measUnits']" value="{{uToName}}" >{{uToName}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>

</div>