<div ng-controller="pipePressureCntr" class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon">Временное сопротивление</span>
				<input-dropdown item-selected-method="dropDownChange(item,'resist')" filter-list-method="filterStringList(userInput,resistItems)" default-dropdown-items="resistItems" selected-item="resist" ></input-dropdown>
				<span class="input-group-addon">МПа</span>
			</div>
		</div>
		<div class="col-sm-3">
			<button class="btn btn-default" ng-click="addRow()"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs">Добавить</span></button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="input-group"><span class="input-group-addon">Запас прочности</span><input type="number" ng-model="n" class="form-control" /></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="input-group"><span class="input-group-addon">Наружный диаметр трубы d</span>
			<input-dropdown default-dropdown-items="pipeSizeItems" item-selected-method="dropDownChange(item,'pipeSize')" filter-list-method="filterStringList(userInput,pipeSizeItems)" selected-item="pipeSize"></input-dropdown></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="input-group"><span class="input-group-addon">Толщина стенки трубы s</span><input type="text" ng-model="thickness" ng-change="pipePressureCalc()" class="form-control" /></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="input-group">
				<span class="input-group-addon">Избыточное давление P</span>
				<input type="text" ng-model="pressure" class="form-control" ng-change="pipeThicknessCalc()" />
				<span class="input-group-addon">МПа</span>
			</div>
		</div>
	</div>
<yu-table></yu-table>
</div>