<div>	
	<!-- (.col-sm-5>.row*5>(.col-sm-5>.label)+(.col-sm-7>.input-group>input))+.col-sm-7>div#pressLosesChart --> 
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-12">
				<input-mu type-mu="density" ng-model="rho" label="Плотность в Р.У."> </input-mu>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon">Тип прибора</span>
					<select ng-model="typeDevice" class="btn btn-default dropdown-toggle form-control" ng-change="changeDevType()">
						<option value="0">Струевыпрямитель</option>
						<option value="1">ЭВ-200 Сэндвич</option>
						<option value="2">ЭВ-200 Фланцевый</option>
						<option value="3">ЭВ-200 ФР</option>
						<option value="4">ЭВ-200 ППД</option>
						<option value="5">ЭВ-200 ПР</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon">Диаметр D</span>
					<select ng-model="du" class="btn btn-default dropdown-toggle form-control" ng-change="calcPressLoses()">
						<option ng-repeat="unitDu in duList" value="{{unitDu}}">{{unitDu}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon">Объемный расход Q</span>
					<input type="text" ng-model="Q" ng-change="calcPressLoses()" class="form-control"/>
					<div class="input-group-btn">
						<select ng-model="QMU" id="" class="btn btn-default dropdown-toggle">
							<option ng-repeat="(uName, unit) in measurmentUnits['volFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12"> 
			
				<div class="input-group">
					<span class="input-group-addon">Потери давления &Delta;P </span>
					<input type="text" ng-model="pressure" class="form-control" />
					<div class="input-group-btn">
						<select ng-model="pressureMU" id="" class="btn btn-default dropdown-toggle">
							<option ng-repeat="(uName, unit) in measurmentUnits['pressure']['measUnits']" value="{{uName}}">{{uName}}</option>				
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<highchart id="chart1" config="chartConfig"></highchart>
	</div>
</div>
