<div ng-controller="reinoldsCntr" class="container-fluid">
	
	<div class="row">
		<div class="col-sm-5">
			<div class="input-group">
				<span class="input-group-addon">Среда</span>
				<select ng-model="medium" class="form-control" ng-change="changeMedium()">
					<option value="0">Вода</option>
					<option value="1">Воздух</option>
					<option value="2">пар 100 С</option>
					<option value="3">Азот</option>
					<option value="4">Водород</option>
					<option value="5">Кислород</option>
					<option value="6">Углекислый газ</option>
					<option value="7">Бензин</option>
					<option value="8">Керосин</option>
					<option value="9">Глицерин</option>
					<option value="10">Машинное масло</option>
					<option value="11">Легкая нефть</option>
					<option value="12">Тяжелая нефть</option>
					<option value="13">Ртуть</option>
					<option value="14">Этиловый спирт</option>
					<option value="15">Метиловый спирт</option>					
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<input-mu type-mu="density" label="Плотность &rho;" ng-model="rho"></input-mu>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-5">
			<input-mu ng-model="dinVisc" type-mu="dynViscosity" label="Динамическая вязкость &eta;" ></input-mu>
		</div>
		<div class="col-sm-3"><button class="btn btn-default">Динам. -> Кинем.</button></div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<input-mu ng-model="cinVisc" label="Кинематическая вязкость v" type-mu="cinViscosity" ></input-mu>
		</div>
		<div class="col-sm-4"><button class="btn btn-default"> Кинем. -> Динам.</button></div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-offset-2"> <h2>Расчет числа Рейнольдса</h2> </div>
		
	</div>
	<div class="row">		
		<div class="col-sm-5">
			<div class="input-group"><span class="input-group-addon">Диаметр d</span>
				<select class="form-control" ng-model="du">
					<option ng-repeat="(duKey,duItem) in duArray" value="{{duKey}}">{{duItem}}</option>
				</select>
			</div>			
		</div>	
	</div>
	<div class="row">		
		<div class="col-sm-5">
			<input-mu label="Расход Q" ng-model="Q" type-mu="volFlow"></input-mu>
		</div>		
		<div class="col-sm-3"><button class="btn btn-default" ng-click="reinoldQCalc()">Расчет Re(Q)</button></div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<div class="input-group"><span class="input-group-addon">Скорость V</span><input class="form-control" type="text" ng-model="V" /><span class="input-group-addon">м/с</span></div>
		</div>
		<div class="col-sm-3"><button class="btn btn-default" ng-click="reinoldsVCalc()">Расчет Re(V)</button></div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<div class="input-group"><span class="input-group-addon">Число Рейнольдса Re</span><input type="text" class="form-control" ng-model="Re" /></div>
		</div>
		<div class="col-sm-3"><button class="btn btn-default" ng-click="QVReinoldsCalc()">Расчет Q(Re)</button></div>
	</div>
	<div class="row">
		<div class="col-sm-5"><div class="input-group"><input type="checkbox"  ng-model="isMinQ" /> <span >по мин. рахсоду ЭВ200</span></div></div>
		
	</div>
	
</div>