<div ng-controller="steamWaterCntr" id="steamWaterProps">
	<div class="col-sm-1">
		<input  type="radio" name="typePress" ng-model="typePress" value="exc"/> Изб <br />
		<input  type="radio" name="typePress" ng-model="typePress" value="abs" /> Абс
	</div>
	<div class="col-sm-5">
		<div class="row">
			<div class="col-sm-12 input-group" ng-class="{'off' : !isCalcForP}">			
				<span class="input-group-addon">Давление P</span>
				<input class="form-control" type="text" ng-model="pressure" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-btn">
					<select ng-model="pressureUI" name="pressureUI"  class="btn btn-default dropdown-toggle" >
						<option ng-repeat="(uName, unit) in measurmentUnits['pressure']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 input-group" ng-class="{'off' : !isCalcForT}">
				<span class="input-group-addon">Температура T</span>
				<input class="form-control" type="text" ng-model="temperature" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-btn">
					<select ng-model="temperatureUI" name="temperatureUI"  class="btn btn-default dropdown-toggle"  >
						<option ng-repeat="(uName, unit) in measurmentUnits['temperature']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 input-group">
				<span class="input-group-addon">Степень сухости</span>
				<input class="form-control" type="text" ng-model="dryK" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-addon"><input type="checkbox" ng-model="dryKOnOff" />Вкл.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 input-group off">
				<span class="input-group-addon">Динамическая вязкость</span>
				<input class="form-control" type="text" ng-model="dynVisc" readonly />
				<div class="input-group-btn">
					<select ng-model="dynViscUI" name="dynViscUI"  class="btn btn-default dropdown-toggle">
							<option ng-repeat="(uName, unit) in measurmentUnits['dynViscosity']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 input-group off">
				<span class="input-group-addon">Кинематическая вязкость</span>
				<input class="form-control" type="text" ng-model="cinVisc" readonly/>
				<div class="input-group-btn">
					<select ng-model="cinViscUI" name="cinViscUI"  class="btn btn-default dropdown-toggle" >
							<option ng-repeat="(uName, unit) in measurmentUnits['cinViscosity']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 input-group">
				<span class="input-group-addon">Тепловой поток G</span>
				<input class="form-control" type="text" ng-model="heatFlow" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/" ng-change="calculateFlow(event)"/>
				<div class="input-group-btn">
					<select ng-model="heatFlowUI" name="heatFlowUI"  class="btn btn-default dropdown-toggle" >
							<option ng-repeat="(uName, unit) in measurmentUnits['power']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 input-group off">
				<span class="input-group-addon"> Массовый расход Qm</span>
				<input class="form-control" type="text" ng-model="Qm" readonly />
				<div class="input-group-btn">
					<select ng-model="QmUI" name="QmUI"  class="btn btn-default dropdown-toggle" >
							<option ng-repeat="(uName, unit) in measurmentUnits['massFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-5">
		
		<div class="row"><input  type="checkbox" ng-model="isCalcForP"  ng-change="calculateEnvirement()"/> Расчет по Р <button class="btn btn-default" ng-click="addRow()"> Добавить</button></div>
		<div class="row"><input  type="checkbox" ng-model="isCalcForT"  ng-change="calculateEnvirement()"/> Расчет по Т </div>
		<div class="row">
			<div class="col-sm-12 input-group off">
				<span class="input-group-addon">Плотность</span>
				<input class="form-control" readonly type="text" ng-model="density"/>
				<span class="input-group-addon">кг/м3</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 input-group off">
				<span class="input-group-addon">Состояние</span>
				<input class="form-control" readonly type="text" ng-model="substance" />				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 input-group off">
				<span class="input-group-addon"> Энтальпия I</span>
				<input class="form-control" readonly type="text" ng-model="entalphy"/>
				<div class="input-group-btn">
					<select ng-model="entalphyUI" name="entalphyUI"  class="btn btn-default dropdown-toggle">
							<option ng-repeat="(uName, unit) in measurmentUnits['entalphy']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="input-group off">
				<span class="input-group-addon "> Объемный расход</span>
				<input class="form-control" type="text" ng-model="Qv" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/>
				<div class="input-group-btn">
					<select ng-model="QvUI" name="QvUI"  class="btn btn-default dropdown-toggle"  >
							<option ng-repeat="(uName, unit) in measurmentUnits['volFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row"><button class="btn btn-default" ng-click="calculateEnvirement()">Рассчет</button></div>
	</div>
	<yu-table></yu-table>
</div>