<div ng-controller="volumeStemFlowAndSelect" id="volumeStemFlowAndSelect" class="container-fluid">
	<table  class="table table-condensed">
		<thead>
			<tr>
				<th class="col-sm-3">
					<select name="medium" ng-model="medium" ng-init="medium = 'steam'">
						<option value="steam">Пар</option>
						<option value="liquid">Жидкость</option>
						<option value="gas">Газ</option>
					</select>
					<span class="input-group" ng-if="medium == 'gas'"> &rho;0,кг/м3 <input style="width:75%;" type="text" ng-model="densityStand" ng-readonly="!isCalcforP" /></span>
				</th>
				<th class="col-sm-1">Мин.</th>
				<th class="col-sm-1">Ном.</th>
				<th class="col-sm-1">Макс.</th>
				<th class="col-sm-2">Единицы</th>
				<th ng-if="medium == 'steam'" class="col-sm-1">Расчет</th>
				<th class="col-sm-2">
					
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-class="{'off' : isCalcforP == false}">
				<td>Изб. Давление Р</td>
				<td><input type="text" ng-model="Pmin" ng-readonly="!isCalcforP"  ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input type="text" ng-model="Pnom" ng-readonly="!isCalcforP"  ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input type="text" ng-model="Pmax" ng-readonly="!isCalcforP"  ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td>
					<select ng-model="pressureUI" name="pressureUI"  class="dropdown-toggle">
						<option ng-repeat="(uName, unit) in measurmentUnits['pressure']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</td>
				<td ng-class="{'hidden' : medium != 'steam'}" class="text-center">
					<input type="checkbox" ng-model="isCalcforP"/>
				</td>
				<td class="text-center">
					<div ng-hide="medium == 'liquid'"><input type="checkbox" ng-model="isCalcQvP" /> Учитывать Qv от P</div>
				</td>
			</tr>
			<tr ng-class="{'off' : isCalcforT == false}">
				<td>Температура Т</td>
				<td><input type="text" ng-model="Tmin" ng-readonly="!isCalcforT"  ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input type="text" ng-model="Tnom" ng-readonly="!isCalcforT"  ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input type="text" ng-model="Tmax" ng-readonly="!isCalcforT"  ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td>
					<select ng-model="temperatureUI" name="temperatureUI"  class="dropdown-toggle">
						<option ng-repeat="(uName, unit) in measurmentUnits['temperature']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</td>
				<td class="text-center" ng-class="{'hidden' : medium != 'steam'}">
					<input type="checkbox" ng-model="isCalcforT" />
				</td>
			</tr>
			<tr ng-class="{'hidden' : medium != 'steam'}">
				<td>Массовый расход Qm</td>
				<td><input type="text" ng-model="QmMin" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input type="text" ng-model="QmNom" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input type="text" ng-model="QmMax" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td>
					<select ng-model="massFlowUI" name="massFlowUI"  class="dropdown-toggle">
						<option ng-repeat="(uName, unit) in measurmentUnits['massFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</td>
				<td></td>
				<td>
					
				</td>
			</tr>
			<tr ng-class="{'hidden' : medium != 'gas'}">
				<td>Объем. расход H.У. Qvн</td>
				<td><input readonly type="text" ng-model="QvnMin" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input readonly type="text" ng-model="QvnNom" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input readonly type="text" ng-model="QvnMax" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td>
					<span class="input-group-addon">нм3/ч</span>
					<!-- <select ng-model="massFlowUI" name="massFlowUI"  class="dropdown-toggle" ng-change="">
						<option ng-repeat="(uName, unit) in measurmentUnits['massFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select> -->
				</td>
				<td></td>
				<td>
					
				</td>
			</tr>
			<tr class="off">
				<td>Плотность &Rho; </td>
				<td><input readonly type="text" ng-model="DensMin"/></td>
				<td><input readonly type="text" ng-model="DensNom"/></td>
				<td><input readonly type="text" ng-model="DensMax"/></td>
				<td>
					<select ng-model="densityUI" name="densityUI"  class="dropdown-toggle">
						<option ng-repeat="(uName, unit) in measurmentUnits['density']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</td>
				<td></td>
				<td>
					<button class="btn btn-default" ng-hide="medium == 'liquid'" ng-click="calcQvButtonClick()">Расчет Qv</button>
				</td>
			</tr>
			<tr class="off">
				<td>Состояние</td>
				<td><input type="text" ng-model="SubsMin"/></td>
				<td><input type="text" ng-model="SubsNom"/></td>
				<td><input type="text" ng-model="SubsMax"/></td>
				<td>
					
				</td>
				<td></td>
				<td>
					<!--  <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Добавить</button> -->
				</td>
			</tr>
			<tr ng-class="{'off' : medium == 'steam'}">
				<td>Объем. расход Р.У. Qv</td>
				<td><input ng-readonly="medium == 'steam'" type="text" ng-model="QvMin" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input ng-readonly="medium =='steam'" type="text" ng-model="QvNom" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td><input ng-readonly="medium =='steam'" type="text" ng-model="QvMax" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/"/></td>
				<td>
					<select ng-model="volFlowUI" name="volFlowUI"  class="dropdown-toggle">
						<option ng-repeat="(uName, unit) in measurmentUnits['volFlow']['measUnits']" value="{{uName}}">{{uName}}</option>
					</select>
				</td>
				<td><button ng-click="selectBtnClick()" class="btn btn-default">Подбор</button></td>
				<td>
					
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" ng-if="matchDevice.length > 0">
		<select >
			<option ng-repeat="oneDev in matchDevice">{{oneDev}}</option>
		</select></div>
	</div>
</div>