<div class="input-group">
	<span class="input-group-addon" ng-if="label">{{label}}</span>
	<input class="form-control" ng-model="out.userValue" ng-readonly="isReadonly" type="text" ng-pattern="/(^0\.\d+$|^\d+\.\d+$|^0,\d+$|^\d+,\d+$|\d+$)/" />
	<div class="input-group-btn" ng-if="typeMu">
		<select ng-model="out.userMu" class="btn btn-default dropdown-toggle" >
			<option ng-repeat="(uName, unit) in muObj.measUnits" value="{{uName}}">{{uName}}</option>
		</select>							
	</div>
	<span class="input-group-addon" ng-if="(!typeMu) && (mu)">{{mu}}</span>
</div>
